@charset "UTF-8";
body{
    margin:0;
}
.header_logo{
    text-align:center;
}
.header_navlist{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    border-top:1px solid#ddd;
    border-bottom:1px solid#ddd;
}
.header_navlist li{
    margin:16px 28px;
    list-style:none;
}
.header_mainvisual{
    margin:40px;
}
.header_mainvisual{
    width:100%;
    border:10px solid#ddd;
    box-sizing:border-box;
}
main{
    margin:0 40px;
}
.main_content h2{
    font-family:serif;
    font-weight:normal;
    text-align:center;
}
.main_content_body{
    text-align:center
}
.main_goodpoints{
    display:flex;
    justify-content:space-between;
}
.main_goodpoints section{
    width:31%;
}
.main_goodpoints section img{
    width:100%;
}
.hotel{
    width:200px;
    padding:10px;
    margin-top:20px;
    float:left;
}
footer{
    display:flex;
    justify-content:space-between;
    margin:40px 40px 0;  
}