@charset "UTF-8";
.btn1{
    padding: 10px;
    border-radius:100vh; 
    color:#000000;
    background-color:aliceblue;
    text-align:center;
}
.btn2{
    padding: 10px;
    border-radius:100vh; 
    color:#000000;
    background-color:aliceblue;
    text-align:center;
}
.btn3{
    padding: 10px;
    border-radius:100vh; 
    color:#000000;
    background-color:aliceblue;
    text-align:center;
}
.btn4{
    padding: 10px;
    border-radius:100vh; 
    color:#000000;
    background-color:aliceblue;
    text-align:center;
}