@charset "UTF-8";
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    width: 300px;
    color:#000000;
    background-color:#afa9a9;
    text-align:center;
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    width: 300px;
    color:#000000;
    background-color:#afa9a9;
    text-align:center;
}
.btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    width: 300px;
    color:#000000;
    background-color:#afa9a9;
    text-align:center;
}
.btn4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    width: 300px;
    color:#000000;
    background-color:#afa9a9;
    text-align:center;
}